Source/Data/Xml/Nequeo.Xml.Authorisation.Provider/Nequeo.Xml.Authorisation.Provider/Data/AuthenticationProvider.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="context">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="client">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="uniqueIdentifier" type="xs:int" use="required" />
                                            <xs:attribute name="name" type="xs:string" use="required" />
                                            <xs:attribute name="emailAddress" type="xs:string" use="required" />
                                            <xs:attribute name="username" type="xs:string" use="required" />
                                            <xs:attribute name="password" type="xs:string" use="required" />
                                            <xs:attribute name="applicationName" type="xs:string" use="required" />
                                            <xs:attribute name="isLoggedOn" type="xs:boolean" use="required" />
                                            <xs:attribute name="isSuspended" type="xs:boolean" use="required" />
                                            <xs:attribute name="onlineStatus" type="xs:string" use="required" />
                                            <xs:attribute name="activeConnections" type="xs:int" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                                <xs:unique name="UniqueIdentifierAttribute">
                                    <xs:selector xpath="client"/>
                                    <xs:field xpath="@uniqueIdentifier" />
                                </xs:unique>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>