Source/Components/Resource/Nequeo.Resource/XsdFiles/LinqReplicaDesigner.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Context">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TableName" type="xs:string" />
        <xs:element name="Database" type="xs:string" />
        <xs:element name="LinqDataContextName" type="xs:string" />
        <xs:element name="NamespaceCompanyName" type="xs:string" />
        <xs:element name="NamespaceExtendedName" type="xs:string" />
        <xs:element name="DataBaseOwner" type="xs:string" />
        <xs:element name="ConnectionType" type="xs:unsignedByte" />
        <xs:element name="ConnectionDataType" type="xs:unsignedByte" />
        <xs:element name="DataAccessProvider" type="xs:string" />
        <xs:element name="ConfigKeyDatabaseConnection" type="xs:string" />
        <xs:element name="UseAnonymousDataEntity" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>