Source/Components/ComponentModel/Nequeo.Composite/Nequeo.Composite/Data/Nequeo.Composite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CompositeGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CompositeServices">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ServiceDirectoryCatalog">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="add">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="path" type="xs:string" use="required" />
                                                <xs:attribute name="searchPattern" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ServiceTypeCatalog">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="add">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="type" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>