Source/Components/Net/Nequeo.Mail.Client/Nequeo.Mail.Client/Data/Nequeo.Mail.Client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="NequeoMailGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NequeoNetMail">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Smtp">
                                <xs:complexType>
                                    <xs:attribute name="from" type="xs:string" use="required" />
                                    <xs:attribute name="host" type="xs:string" use="required" />
                                    <xs:attribute name="port" type="xs:int" use="optional" />
                                    <xs:attribute name="username" type="xs:string" use="optional" />
                                    <xs:attribute name="password" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>