Source/Clients/Net/Nequeo.Net.Client/Nequeo.Net.Client/Service References/TransferStream/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Stream" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_IStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStream_UploadStructuredFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadStructuredFile" />
  </wsdl:message>
  <wsdl:message name="IStream_UploadStructuredFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadStructuredFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStream_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IStream_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStream_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IStream_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStream_GetFileSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="IStream_GetFileSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IStream">
    <wsdl:operation name="UploadStructuredFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStream/UploadStructuredFile" message="tns:IStream_UploadStructuredFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStream/UploadStructuredFileResponse" message="tns:IStream_UploadStructuredFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStream/UploadFile" message="tns:IStream_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStream/UploadFileResponse" message="tns:IStream_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStream/DownloadFile" message="tns:IStream_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStream/DownloadFileResponse" message="tns:IStream_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IStream/GetFileSize" message="tns:IStream_GetFileSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStream/GetFileSizeResponse" message="tns:IStream_GetFileSize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStream" type="tns:IStream">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadStructuredFile">
      <soap:operation soapAction="http://tempuri.org/IStream/UploadStructuredFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IStream/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IStream/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://tempuri.org/IStream/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IStream" type="tns:IStream">
    <wsp:PolicyReference URI="#NetTcpBinding_IStream_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UploadStructuredFile">
      <soap12:operation soapAction="http://tempuri.org/IStream/UploadStructuredFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IStream/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IStream/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://tempuri.org/IStream/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IStream" type="tns:IStream">
    <wsp:PolicyReference URI="#CustomBinding_IStream_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadStructuredFile">
      <soap12:operation soapAction="http://tempuri.org/IStream/UploadStructuredFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IStream/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IStream/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://tempuri.org/IStream/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Stream">
    <wsdl:port name="BasicHttpBinding_IStream" binding="tns:BasicHttpBinding_IStream">
      <soap:address location="http://nequeompc:8711/ServiceTransfer/Stream/basic" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IStream1" binding="tns:BasicHttpBinding_IStream">
      <soap:address location="http://wcf.nequeo.net.au:8712/ServiceTransfer/Stream/basicWcf" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IStream" binding="tns:NetTcpBinding_IStream">
      <soap12:address location="net.tcp://wcf.nequeo.net.au:8713/ServiceTransfer/Stream/secureBasicWcf" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://wcf.nequeo.net.au:8713/ServiceTransfer/Stream/secureBasicWcf</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>wcf.nequeo.net.au</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IStream2" binding="tns:BasicHttpBinding_IStream">
      <soap:address location="http://nequeompc:8714/ServiceTransfer/Stream/basicEp1" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_IStream" binding="tns:CustomBinding_IStream">
      <soap12:address location="http://nequeompc:8715/ServiceTransfer/Stream/customEp2" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://nequeompc:8715/ServiceTransfer/Stream/customEp2</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>nequeompc</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>