Cross/Mono/Components/Data/Nequeo.Data/Nequeo.Data/Data/Nequeo.Data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DataConnectionStringExtensionGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ConnectionStringExtensions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Extension">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="add">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="typeName" type="xs:string" use="required" />
                                                <xs:attribute name="dataObjectTypeName" type="xs:string" use="required" />
                                                <xs:attribute name="dataObjectPropertyName" type="xs:string" use="required" />
                                                <xs:attribute name="tableName" type="xs:string" use="required" />
                                                <xs:attribute name="indicatorColumnName" type="xs:string" use="required" />
                                                <xs:attribute name="comparerColumnName" type="xs:string" use="required" />
                                                <xs:attribute name="comparerValue" type="xs:string" use="required" />
                                                <xs:attribute name="serviceMethodName" type="xs:string" use="required" />
                                                <xs:attribute name="serviceMethodRedirectionUrl" type="xs:string" use="required" />
                                                <xs:attribute name="jsonDataTableColumnNames" type="xs:string" use="required" />
                                                <xs:attribute name="connectionName" type="xs:string" use="required" />
                                                <xs:attribute name="databaseOwner" type="xs:string" use="required" />
                                                <xs:attribute name="connectionTimeOut" type="xs:int" use="required" />
                                                <xs:attribute name="connectionType" type="xs:string" use="required" />
                                                <xs:attribute name="connectionDataType" type="xs:string" use="required" />
                                                <xs:attribute name="dataAccessProvider" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>