Source/Servers/Net/Nequeo.Net.Server/Nequeo.Net.Server/Data/LoadBalanceServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="context">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="servers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="server">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="host" type="xs:string" use="required" />
                                    <xs:attribute name="port" type="xs:int" use="required" />
                                    <xs:attribute name="secure" type="xs:boolean" use="required" />
                                    <xs:attribute name="count" type="xs:int" use="required" />
                                    <xs:attribute name="weight" type="xs:double" use="required" />
                                </xs:complexType>
                                <xs:unique name="NameAttribute">
                                    <xs:selector xpath="server"/>
                                    <xs:field xpath="@name" />
                                </xs:unique>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>