Source/Clients/Tools/Nequeo.VoIP.PjSip/Nequeo.VoIP.PjSip.Controls/Data/Contacts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="sipAccount" type="xs:string" />
              <xs:element name="presenceState" type="xs:boolean" />
              <xs:element name="group" type="xs:string" />
              <xs:element name="numbers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="number" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>