Cross/Mono/Components/Resource/Nequeo.Resource/Nequeo.Resource/XsdFiles/DatabaseSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Context">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NamespaceExtendedName" type="xs:string" />
        <xs:element name="CompanyNameSpace" type="xs:string" />
        <xs:element name="Database" type="xs:string" />
        <xs:element name="ConnectionType" type="xs:unsignedByte" />
        <xs:element name="ConnectionDataType" type="xs:unsignedByte" />
        <xs:element name="DataAccessProvider" type="xs:string" />
        <xs:element name="Tables">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TableName" type="xs:string" />
                    <xs:element name="TableOwner" type="xs:string" />
                    <xs:element name="DataColumns">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="DataColumn">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DbColumnName" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="IsSeeded" type="xs:boolean" />
                                <xs:element name="IsPrimaryKey" type="xs:boolean" />
                                <xs:element name="IsAutoGenerated" type="xs:boolean" />
                                <xs:element name="IsNullable" type="xs:boolean" />
                                <xs:element name="IsRowVersion" type="xs:boolean" />
                                <xs:element name="DbType" type="xs:string" />
                                <xs:element name="Length" type="xs:short" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ForeignKeys" nillable="true">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="ForeignKey">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="ReferenceTable" type="xs:string" />
                                <xs:element name="ReferenceColumnName" type="xs:string" />
                                <xs:element name="ReferenceOwner" type="xs:string" />
                                <xs:element name="ColumnName" type="xs:string" />
                                <xs:element name="ColumnType" type="xs:string" />
                                <xs:element name="Length" type="xs:unsignedShort" />
                                <xs:element name="IsNullable" type="xs:boolean" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="References" nillable="true">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Reference">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Owner" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="ColumnName" type="xs:string" />
                                <xs:element name="ColumnType" type="xs:string" />
                                <xs:element name="Length" type="xs:unsignedShort" />
                                <xs:element name="IsNullable" type="xs:boolean" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>