Source/Components/Net/Nequeo.ServiceModel/Nequeo.ServiceModel/Data/Nequeo.ServiceModel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ServiceHostExtensionGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceHostExtensions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Extension">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="add">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="serviceTypeName" type="xs:string" use="required" />
                                                <xs:attribute name="baseAddressIndex" type="xs:int" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>