Source/Clients/Net/Nequeo.Net.Client/Nequeo.Net.Client/Service References/MessageStream/Nequeo.Model.Message.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nequeo.Model.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nequeo.Model.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InformationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformationRequest" nillable="true" type="tns:InformationRequest" />
  <xs:complexType name="InformationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformationResponse" nillable="true" type="tns:InformationResponse" />
</xs:schema>