Source/Clients/Net/Nequeo.Net.Client/Nequeo.Net.Client/Service References/MessageStream/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Nequeo.Model.Message" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nequeo.Model.Message" minOccurs="0" name="request" nillable="true" type="q1:InformationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nequeo.Model.Message" minOccurs="0" name="SendMessageResult" nillable="true" type="q2:InformationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageByte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageByteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageByteResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>