Source/Clients/Net/Nequeo.Net.Client/Nequeo.Net.Client/Service References/MessageStream/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Stream" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_IStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Nequeo.Model.Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStream_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IStream_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IStream_MessageString_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageString" />
  </wsdl:message>
  <wsdl:message name="IStream_MessageString_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageStringResponse" />
  </wsdl:message>
  <wsdl:message name="IStream_MessageByte_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageByte" />
  </wsdl:message>
  <wsdl:message name="IStream_MessageByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageByteResponse" />
  </wsdl:message>
  <wsdl:portType name="IStream">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBase/SendMessage" message="tns:IStream_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBase/SendMessageResponse" message="tns:IStream_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageString">
      <wsdl:input wsaw:Action="http://tempuri.org/IStream/MessageString" message="tns:IStream_MessageString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStream/MessageStringResponse" message="tns:IStream_MessageString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageByte">
      <wsdl:input wsaw:Action="http://tempuri.org/IStream/MessageByte" message="tns:IStream_MessageByte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStream/MessageByteResponse" message="tns:IStream_MessageByte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStream" type="tns:IStream">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageBase/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageString">
      <soap:operation soapAction="http://tempuri.org/IStream/MessageString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageByte">
      <soap:operation soapAction="http://tempuri.org/IStream/MessageByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IStream" type="tns:IStream">
    <wsp:PolicyReference URI="#NetTcpBinding_IStream_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessageBase/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageString">
      <soap12:operation soapAction="http://tempuri.org/IStream/MessageString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageByte">
      <soap12:operation soapAction="http://tempuri.org/IStream/MessageByte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IStream" type="tns:IStream">
    <wsp:PolicyReference URI="#CustomBinding_IStream_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessageBase/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageString">
      <soap12:operation soapAction="http://tempuri.org/IStream/MessageString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageByte">
      <soap12:operation soapAction="http://tempuri.org/IStream/MessageByte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Stream">
    <wsdl:port name="BasicHttpBinding_IStream" binding="tns:BasicHttpBinding_IStream">
      <soap:address location="http://nequeompc:8721/ServiceMessage/Stream/basic" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IStream1" binding="tns:BasicHttpBinding_IStream">
      <soap:address location="http://wcf.nequeo.net.au:8722/ServiceMessage/Stream/basicWcf" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IStream" binding="tns:NetTcpBinding_IStream">
      <soap12:address location="net.tcp://wcf.nequeo.net.au:8723/ServiceMessage/Stream/secureBasicWcf" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://wcf.nequeo.net.au:8723/ServiceMessage/Stream/secureBasicWcf</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>wcf.nequeo.net.au</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IStream2" binding="tns:BasicHttpBinding_IStream">
      <soap:address location="http://nequeompc:8724/ServiceMessage/Stream/basicEp1" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_IStream" binding="tns:CustomBinding_IStream">
      <soap12:address location="http://nequeompc:8725/ServiceMessage/Stream/customEp2" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://nequeompc:8725/ServiceMessage/Stream/customEp2</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>nequeompc</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>