Source/Components/Net/Nequeo.Net/Nequeo.Net/Data/Nequeo.Net.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="NequeoServerGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NequeoServerHosts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Host">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="add">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="port" type="xs:int" use="required" />
                                                <xs:attribute name="clientTimeOut" type="xs:int" use="required" />
                                                <xs:attribute name="maxNumClients" type="xs:int" use="required" />
                                                <xs:attribute name="individualControl" type="xs:boolean" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="NequeoRemoteHosts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Host">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="add">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="host" type="xs:string" use="required" />
                                                <xs:attribute name="port" type="xs:int" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>